astpretty[typed]
autopep8
awkward
beautifulsoup4
black
branca
boto3
docutils
folium
graphviz
html5lib
numpy
pandas
Pillow
pygments
python-minifier
pyzbar
qrcode
requests
scikit-learn
streamlit
streamlit-ace
streamlit-folium
